{template 'common/header'}
<ol class="breadcrumb we7-breadcrumb">
    <a href="{php echo $this->createWebUrl('goods')}"><i class="wi wi-back-circle"></i> </a>
    <li><a href="{php echo $this->createWebUrl('goods')}">商品管理</a></li>
    <li><a href="#">{if $id==""}商品新增{/if}{if $id!=null}商品编辑{/if}</a></li>
</ol>
<form action="{php echo $this->createWebUrl('goods',array('op' => 'post'))}" method="post" class="article-post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$id}">
    <div class="form-group">
        <label for="" class="control-label col-sm-2">商品名称</label>
        <div class="form-controls col-sm-8">
            <input type="text" class="form-control" name="goods_name" value="{$list['goods_name']}">
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">商品主图</label>
        <div class="form-controls col-sm-8">
			{php echo tpl_form_field_image('pic_url', $list['pic_url'], '');}
        </div>
    </div>	
	<div class="form-group">
        <label for="" class="control-label col-sm-2">商品分类</label>
        <div class="form-controls col-sm-8">
			<select class="form-control" name="catalog_id">
				<option value="">请选择</option>
				{loop $goods_catalogs $catalog}
				<option value="{$catalog['id']}" {if $list['catalog_id']==$catalog['id']}selected{/if}>{$catalog['menu_name']}</option>
				{/loop}
			</select>
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">商品价格</label>
        <div class="form-controls col-sm-8">
            <input type="text" class="form-control" name="price" value="{$list['price']}">
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">餐盒费</label>
        <div class="form-controls col-sm-8">
            <input type="text" class="form-control" name="packing_fee" value="{$list['packing_fee']}">
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">商品库存</label>
        <div class="form-controls col-sm-8">
            <input type="text" class="form-control" name="num" value="{$list['num']}">
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">是否有规格</label>
        <div class="form-controls col-sm-8">
			<input type="radio" name="has_standard" value="0" {if $list['has_standard']=="0"}checked{/if} onchange="chooseStandard(0)">无规格
			<input type="radio" name="has_standard" value="1" {if $list['has_standard']=="1"}checked{/if} onchange="chooseStandard(1)">有规格
			<a class="pull-right btn btn-primary we7-padding-horizontal add_sub" {if $list['has_standard']=="0"}style="display:none;"{/if} onclick="addSub()">+新增规格项</a>
		</div>
    </div>
	<div class="form-group goods_standard" {if $list['has_standard']=="0"}style="display:none;"{/if}>
		<label for="" class="control-label col-sm-2">规格项设置</label>
        <div class="form-controls col-sm-8">
			<table class="table we7-table table-hover article-list vertical-middle goods_sub_table">
				<tr>
					<th class="text-left">规格项</th>
					<th class="text-left">价格</th>
					<th class="text-left">餐盒费</th>
					<th class="text-left">库存</th>
					<th class="text-right">排序</th>
					<th class="text-right">操作</th>
				</tr>
				{loop $goods_subs $index $sub}
				<tr id="sub{$index}">
					<td class="text-left"><input type="text" class="form-control" name="sub_name[]" value="{$sub['sub_name']}"></td>
					<td class="text-left"><input type="text" class="form-control" name="sub_price[]" value="{$sub['price']}"></td>
					<td class="text-left"><input type="text" class="form-control" name="sub_packing_fee[]" value="{$sub['packing_fee']}"></td>
					<td class="text-left"><input type="text" class="form-control" name="sub_num[]" value="{$sub['num']}"></td>
					<td class="text-right"><input type="text" class="form-control" name="sub_priority[]" value="{$sub['priority']}"></td>
					<td>
						<div class="link-group">
							<a class="del" onclick="deleteSub({$index})">删除</a>
						</div>
					</td>
				</tr>
				{/loop}
			</table>
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">所属板块</label>
        <div class="form-controls col-sm-8">
			{loop $catalogs $catalog}
			<input type="checkbox" name="tags[]" value="{$catalog['id']}" {if $list['tags']&&in_array($catalog['id'],$list['tags'])}checked{/if}>{$catalog['title']}<br/>
			{/loop}
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">状态</label>
        <div class="form-controls col-sm-8">
			<input type="radio" name="status" value="01" {if $list['status']=="01" or $list['status']==null}checked{/if}>上架
			<input type="radio" name="status" value="00" {if $list['status']=="00"}checked{/if}>下架
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">排序</label>
        <div class="form-controls col-sm-8">
            <input type="text" class="form-control" name="priority" value="{$list['priority']}">
        </div>
    </div>
    <input name="submit" value="保存" class="btn btn-primary btn-submit" type="submit">
    <input type="hidden" name="token" value="{$_W['token']}" />
</form>
<script>

function chooseStandard(type){
	if(type==0){
		$(".goods_standard").hide();
		$(".add_sub").hide();
	}else{
		$(".goods_standard").show();
		$(".add_sub").show();
		var sub_id = $(".goods_sub_table")[0].children[0].children.length+1;
		if(sub_id==2){
			addSub();
		}
	}
}

function addSub(){
	var sub_id = $(".goods_sub_table")[0].children[0].children.length+1;
	var item = "";
	item +='<tr id="sub'+sub_id+'">';
	item +='	<td class="text-left"><input type="text" class="form-control" name="sub_name[]" value=""></td>';
	item +='	<td class="text-left"><input type="text" class="form-control" name="sub_price[]" value=""></td>';
	item +='	<td class="text-left"><input type="text" class="form-control" name="sub_packing_fee[]" value=""></td>';
	item +='	<td class="text-left"><input type="text" class="form-control" name="sub_num[]" value=""></td>';
	item +='	<td class="text-right"><input type="text" class="form-control" name="sub_priority[]" value=""></td>';
	item +='	<td>';
	item +='		<div class="link-group">';
	item +='			<a class="del" onclick="deleteSub('+sub_id+')">删除</a>';
	item +='		</div>';
	item +='	</td>';
	item +='</tr>';
	$(".goods_sub_table").append(item);
}

function deleteSub(index){
	$("#sub"+index).remove();
}

</script>
{template 'common/footer'}