{template 'common/header'}
<div id="js-wesite-article-display">
    <div class="pull-right">
        <a href="{php echo $this->createWebUrl('shop_promotion',array('op' => 'post'))}" class="btn btn-primary we7-padding-horizontal">+新增活动</a>
    </div>
    <form action="{php echo $this->createWebUrl('shop_promotion',array('op' => 'display'))}" method="post" class="form-inline" role="form">
        <input type="hidden" name = "id" value="{$_GPC['id']}" />
        <div class="input-group col-sm-5">
            <input class="form-control" name="info" id="" type="text" value="{$info}" placeholder="请输入活动名称">
            <span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-search"></i></button></span>
        </div>
    </form>
	<br/>
    <table class="table we7-table table-hover article-list vertical-middle">
        <col/>
        <col/>
        <col/>
        <tr>
            <th></th>
			<th class="text-left">活动图片</th>
			<th class="text-left">活动内容</th>
			<th class="text-right">状态</th>
			<th class="text-right">排序</th>
            <th class="text-right">操作</th>
        </tr>
        {loop $lists $list}
        <tr>
            <td></td>
			<td class="text-left"><img src="{php echo tomedia($list['pic_url'])}" width="50" alt="" /></td>
			<td class="text-left">{$list['info']}</td>
			<td class="text-right">{if $list['status']=="01"}启用{/if}{if $list['status']=="00"}停用{/if}</td>
			<td class="text-right">{$list['priority']}</td>
            <td>
                <div class="link-group">
                    <a href="{php echo $this->createWebUrl('shop_promotion', array('op' => 'post','id' => $list['id']))}">编辑</a>
                    <a href="{php echo $this->createWebUrl('shop_promotion', array('op' => 'delete','id' => $list['id']))}" class="del">删除</a>
                </div>
            </td>
        </tr>
        {/loop}
    </table>
    <div class="text-right we7-margin-top">
        {$pager}
    </div>
</div>
{template 'common/footer'}